.Padre{
    background-color: plum;
    padding: 5px;
}
.hijo1{
    background-color: orange;
    margin: 15px;
    border-style: dashed;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 30px;
}
.hijo2{
   
    background-color: aquamarine;
    margin: 15px;
    border-style: dashed;
    display: grid;
    grid-template-columns: auto auto auto;
   
}
.hijo3{
    background-color: lightskyblue;
    margin: 15px;
    border-style: dashed;
    /*width: 1000px;
    height: 200px;*/
   
   
}


.caja{
    background-color: lightgrey;
    margin: 3px;
    height: 50px;
    /*width: 50px;*/
    border-style: dashed;
    font-size: 30px;
}

.caja1{
    background-color: purple;
    margin: 3px;
    border-style: dashed;
    border-color: indigo;
    grid-column: 1/5;
    font-size: 30px;

}
.caja2{
    background-color: red;
    margin: 3px;
    border-style: dashed;
    border-color: black;
    grid-column: 1/3;
    font-size: 30px;

}
.caja6 {
    background-color: greenyellow;
    margin: 3px;
    border-style: dashed;
    border-color: black;
    grid-column: 2/5;
    font-size: 30px;

}
.caja7 {
    background-color: magenta;
    margin: 3px;
    border-style: dashed;
    border-color: black;
    grid-column: 1/3;
    grid-row: 4/6;
    font-size: 30px;

}
.caja8 {
    background-color: yellow;
    margin: 3px;
    border-style: dashed;
    border-color: black;
    grid-column: 3/5;
    font-size: 30px;

}
.caja9{
    background-color: teal;
    margin: 3px;
    border-style: dashed;
    border-color: black;
    grid-column: 3/5;
    font-size: 30px;

}
.c1{
    background-color: lightgrey;
    margin: 15px;
    height: 175px;
    /*width: 100px;*/
    border-style: dashed;
    font-size: 30px;
    
}
.c2{
    background-color: lightskyblue;
    margin: 15px;
    height: 175px;
    /*width: 50px;*/
    border-style: dashed;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto ;

}
.c3 {
    background-color: limegreen;
    margin: 15px;
    height: 175px;
    border-style: dashed;
    font-size: 30px;

}
.subcaja1{
    background-color: violet;
    margin: 5px;
    height: 50px;
    /*width: 50px;*/
    border-style: dashed;
    font-size: 30px;
    grid-column: 1/3;
    
}
.subcaja2 {
    background-color: peachpuff;
    margin: 5px;
    height: 50px;
    /*width: 50px;*/
    border-style: dashed;
    grid-row: 2/2;
}
.subcaja3{
    background-color: royalblue;
    margin: 5px;
    height: 50px;
    
    border-style: dashed;
}
.correo{
    background-color: lightgrey;
    margin: 15px;
    height: 150px;
    /*width: 100px;*/
    border-style: dashed;
    font-size: 30px;

}
.d2{
    background-color: lightsteelblue;
    margin: 15px;
    height: 150px;
    /*width: 100px;*/
    border-style: dashed;
    font-size: 30px;

}
.d3 {
    background-color: lightpink;
    margin: 15px;
    height: 150px;
    /*width: 100px;*/
    border-style: dashed;
    font-size: 30px;

}
